html, body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.6em;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	margin: .5em 0; 
}

.adcontainer {
	padding-top: 1.5em;
	width: 100%;
}

.container {
	padding: 0 5%;
/*	height:400px; 
    margin-top: -200px;
    margin-left: -25%; 
    position: absolute; /
    left: 50%;
    top: 50%;
    width: 90%;*/
}
.no { font-weight: bold; }

.yes, .no {
	margin-bottom: 6px;
}

.yes a {
	color: red;
	text-decoration: none;
}

.no a {
	color: green;
	text-decoration: none;
}
.fa-thumbs-o-down { color: red; }
.fa-thumbs-o-up { color: green; }


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width : 480px)
{ 
	html, body {
		font-size: 1em;
	}
}